body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

.topo {
    display: flex; 
    width: 1000px;
    background-color: #4682B4;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    color: #efefef
}

.topo img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
}

.cadastro-topo {
    flex: 4;
}

.cadastro-topo p {
    padding-right: 0px;
}

.documentos img {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffa500;
    border: 5px solid #ffa500;
}

.documentos {
    display: flex;
    width: 1000px;  
    background-color: #ffc067;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    color: #000000;
    justify-content: center;
}

.dados-pessoais {
    display: flex;
    width: 1000px;
    margin: auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
}

.dados-pessoais h2 {
    font-size: 21px;
    color: #032B63;
}

.informacao-funcionario {
    display: flex;
    justify-content: space-between;
    width: 950px;
}

.informacao-funcionario p {
    background-color: #EDF0F5;
    line-height: 3;
    border-radius: 12px;
    border-width: 12px;
    border-color: #898b8d;
    border: 2px solid #898b8d;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
}

.dados-left {
    flex: 2;
}

.dados-left h1 {
    font-size: 17px;
    color: #d46211;
}

.dados-right {
    flex: 2;
}

.pequeno {
    flex: 1;
}

.medio {
    flex: 2;
}

.grande {
    flex: 3;
}

.extra {
    flex: 6;
}

.linha {
    display: flex;
    width: 950px;
}