body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

.topo {
    display: flex; 
    width: 1000px;
    background-color: #4682B4;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    color: #efefef
}

.topo img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
}

.cadastro-topo {
    flex: 4;
}

.cadastro-topo p {
    padding-right: 0px;
}