body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

.topo {
    display: flex; 
    width: 1000px;
    background-color: #4682B4;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    color: #efefef
}

.topo img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
}

.cadastro-topo {
    flex: 4;
}

.cadastro-topo p {
    padding-right: 0px;
}

.documentos img {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffa500;
    border: 5px solid #ffa500;
}

.documentos {
    display: flex;
    width: 1000px;  
    background-color: #ffc067;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    color: #000000;
    justify-content: center;
}

.dados-left {
    flex: 2;
}

.dados-right {
    flex: 2;
}
